
#tsabackground {
    height: 100%;
    -webkit-backdrop-filter: blur(80px);
    backdrop-filter: blur(80px);
    }


#checkpoints {
    height: 650px;
    width: 1500px;
    margin-bottom: 250px;
    border-radius: 25px;
    color: white;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.5);

}





.blinkme {
    animation: blinker 2s linear infinite ;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }