
body {

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#googleMaps {
  height: 500px;
  margin-right: 15px;
  display: flex;
}

.location-search-input {
  margin-top: 15px;
  padding: 0.5rem;
  font-size: 1 rem;
  width: 100%;
}

.map-container {
  height: 100%;
  width: 100%;
}

.placeholder-map {
  height: 500px;
  width: 85%;
}

.map-hidden {
  display: "none";
}

#google {
  height: 500px;
  margin-right: 500px;
  display: flex;
}

.location-search {
  width: 1000px;
}

