
  
 .favoritesbg   {
    font-family: 'Helvetica Neue', sans-serif;
    width: 100%;
    margin: 0;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    background-size: cover;
    color: #FFF;
    font-weight: 700;
    overflow: auto;
  }

  .titlecard {
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(80px);
    backdrop-filter: blur(80px);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);


  }