
:root {
    --radius: 100px 100px 100px 100px;
  }

  input#check1 {
    margin-right: 10px;
  }
  
  .form-check-label {
    color: #fff;
    /* font-size: 1.3em; */
  }
  
  .form-check-inline:nth-child(1) {
    margin-right: 30px;
  }
  
  .form-check-inline {
    padding: 10px 20px;
  }
  
  .container-signin{
    padding: 5em 0;
    margin-right: 700px;
    margin-top: 100px;
  }
  
  .window-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .window-view {
    width: 250px;
    height: 355px;
  }
  
  .window {
    border-radius: var(--radius);
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 50%;border-radius: 50%; */
  }
  
  .window-border {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    background: #c1211e;
    border: 6px solid;
    box-shadow: 0px 0px 6px 3px #c55351;
    position: relative;
    box-sizing: border-box;
  }
  
  .window-border-inside {
    width: 85%;
    height: 90%;
    background-color: #ec9191;
    position: absolute;
    border-radius: 100px 100px 100px 100px;
    border: 1px solid;
    box-shadow: 0px 0px 12px 10px #ffffff3d;
  }
  
  .sky {
    position: absolute;
    width: 88%;
    height: 90%;
    background-color: #003266;
    border-radius: 100px 100px 100px 100px;
    overflow: hidden;
  }
  
  .moon {
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    position: absolute;
    top: 45px;
    left: 0;
    border-top: 5px solid #fff;
    transform: rotate(127deg);
  }
  
  .cloud {
    width: 80px;
    height: 80px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cloud-part {
    position: absolute;
    border-radius: 100px;
    width: 100%;
    height: 35%;
    background: #fc8483;
  }
  
  .cloud-part:after,
  .cloud-part:before {
    content: "";
    position: absolute;
    background: #ff7c7d;
  }
  
  .cloud-part:before {
    border-radius: 50%;
    width: 50%;
    height: 140%;
    right: 10%;
    top: -70%;
  }
  
  .cloud-part:after {
    border-radius: 100px;
    height: 140%;
    left: 15%;
    top: -42%;
    width: 50%;
  }
  
  .cloud-wrapper[data-v-04536595] {
    display: flex;
    height: 30%;
  }
  
  .cloud-wrapper > .cloud {
    -webkit-animation: cloudMoving linear infinite;
    animation: cloudMoving linear infinite;
    position: absolute;
    left: 0;
  }
  
  .cloud-wrapper > .cloud:first-child {
    width: 100px;
    animation-duration: 30s;
    opacity: 0.3;
    transform: scale(0.9);
    align-self: flex-end;
    top: 0px;
  }
  
  .cloud-wrapper > .cloud:nth-child(2) {
    animation-duration: 5s;
    opacity: 0.9;
    align-self: center;
    bottom: 65px;
  }
  
  .cloud-wrapper > .cloud:nth-child(3) {
    animation-duration: 15s;
    opacity: 0.5;
    width: 100px;
    align-self: flex-start;
    bottom: 0;
  }
  
  .big-cloud[data-v-04536595] {
    width: 200px;
    height: 150px;
    z-index: -1;
  }
  
  .stars {
    position: relative;
  }
  
  .star:nth-child(1) {
    width: 1px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    left: 20px;
    top: 20px;
  }
  
  .star:nth-child(2) {
    width: 1px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: 30px;
    left: 70px;
  }
  
  .star:nth-child(3) {
    width: 1px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: 100px;
    right: 50px;
  }
  
  .star:nth-child(4) {
    width: 1px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 60px;
    right: 75px;
  }
  
  .star:nth-child(5) {
    width: 1px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 100px;
    left: 50px;
  }
  
  @keyframes cloudMoving {
    0% {
      left: -50%;
      visibility: visible;
    }
  
    25% {
      left: -10%;
      visibility: visible;
    }
  
    50% {
      left: 40%;
      visibility: visible;
    }
  
    75% {
      left: 80%;
      visibility: visible;
    }
  
    100% {
      left: 100%;
      visibility: visible;
    }
  }