@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
h1, h2, h3, h4, input, label{
  font-family: 'Varela';
}

html, .App{
  /* margin-bottom: 100px; */
}

.max-width{
  width: 100%;
}
.flex-container{
  display:flex;
  height: 100vh;
  width: 100%;
  /* -webkit-backdrop-filter: blur(80px);
  backdrop-filter: blur(80px); */
}

#app{
  margin:20px;
  margin-left:35px;
}
.fa-star{
  display:flex;
  justify-content: flex-end;
}

#users{
  overflow-y: auto;
  overflow-x: hidden; 
  
}
.userList{
  display:flex;
  flex-direction: column;
  /* overflow-x: hidden; */
  width: 15vw;
  border-top-right-radius: 1em;
}

#userlist-title{
  line-height: 30px;
  /* background-color: rgba(0, 0, 0, 0.3); */
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  padding-top:10px;
  color:white;
  /* box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75); */
  margin-bottom: 15px;
  height: 6vh;
}

.userList-container{
  display:flex;
  flex:0.5;
  /* height:86vh; */
  box-shadow: 2px 0px 10px 1px rgba(0,0,0,0.75);
  border-top-right-radius: 1em;
  width:1vw;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}


#messages{
  flex-grow: 1;
  height:80vh;
  padding:10px;
  box-shadow: -2px 4px 10px 1px rgba(0,0,0,0.75);
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}
.messageBox-container{
  border-top-left-radius: 0em;
  background-repeat: no-repeat;
  background-size: 500px;
  display:flex;
  /* align-items: stretch; */
  flex:3;
  /* background-color: rgba(0, 0, 0, 0.5); */
}

.messageBox-container-header{
  display:flex;
  padding: 1em;
  border-top-left-radius: 1em;
  height:6vh;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  top: 10;
  color:white
}
#messages::-webkit-scrollbar {
  width: 10px;
}

#messages::-webkit-scrollbar-track {
  box-shadow: 0px 0px 10px 10px transparent;
  border: solid 1px transparent;
}

#messages::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 20px 10px rgb(71, 65, 65);
  border-radius: 1em;
  border: solid 1px transparent;
}


.ownMessage{
  align-self:flex-end;
  display: flex;
  margin-top: 20px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius:0px;
  border-top-left-radius:25px;
  border-top-right-radius:25px;
  padding: 10px 10px 0px 10px;
  background-color:#1a1463;


  width: auto;
  max-width: 20vw;
  min-width: 6vw;
  margin-bottom: 5px;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3);
}

.message{
  display:flex;
  align-self:flex-start;
  margin-top: 20px;
  padding: 10px 10px 0px 10px;
  background-color: 
  #902BF5;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius:25px;
  border-top-left-radius:25px;
  border-top-right-radius:25px;
  width: auto;
  max-width: 20vw;
  min-width: 6vw;
  margin-bottom: 5px;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3);
}

.messageText{
  color:white;
  padding-left:10px;
  word-break: break-all;
  text-overflow: clip;
  white-space: pre-line;
}

#messages{
  display: block;
  overflow-y: auto;
  position: relative;
  flex-grow: 1;
}
#msgInput{

  display:flex;
  justify-content: flex-end;
  margin-top: 10px;;
  border-top-left-radius: 5em;
  border-bottom-left-radius: 5em;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
  resize: none;
  width: 1359px;
  max-height: 120px;
}

.btn{
  font-family: 'Helvetica';
  background-color: #912BF6;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-left: 0px;
  border: 0;
  height: 40px;
  margin-top: 11px;
}

.username{
  color: white;
  margin-top:-5px;
}
.userlist-username{
  color:white;
  padding-left:15px;
  word-break: break-all;
}

.text-area{
  background-color: black;
}

.timeStamp{
  color:rgb(190, 190, 190);
  justify-content: flex-end;
  margin-top:-20px;
  margin-bottom: 5px;    
}
.titleText{
  color:white;
}
.col{
  display: flex;
  flex-direction: column;
}

.row{
  display: flex;
  flex-direction: row;
 
  
}

.left{
  justify-content: flex-start;
  justify-self: flex-start;
  justify-items: flex-start;
}

.right{
  justify-content: flex-end;
  justify-self: flex-end;
  justify-items: flex-end;
}
.center{
  justify-content: center;
  align-content: center;
}

.wrap{
  flex-wrap: wrap;
}

.avatar{
  width:20px;
}

.btn-secondary{
  max-width: 40px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-right: -6px;

}

.emojiPicker{
  position: absolute;
  bottom:5.5vh;
  right:1vw;
}

#exit-btn{
  width: 30px;
  cursor: pointer;
  height:40px;
  margin-left:20px;
  padding-bottom: 10px;
}

#typingStatus {
margin-left: 900px;
font-size: 25px;
font-weight: 700;


}
.text-white {
  margin-left: 100px;
  top: 55%;
}